{% extends "base.html" %} {% block body %}
<div class="container-fluid">
  {% comment %}
  <div class="carousel-item active">
    {% endcomment %}
    <div id="carouselExample" class="carousel slide">
      {% comment %}
      <div id="carouselExample" class="carousel slide">
        {% endcomment %}
        <div class="carousel-inner">
          <div class="carousel-item active">
            <a href="/static/assets/1_picture.png" target="_blank">
              <img
                src="static/assets/1_picture.png"
                class="d-block carousel-img"
                ,
                height="700px"
                ,
                width="1500px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
            <!-- TEXT OVER IMAGE -->
            <div class="carousel-caption d-none d-md-block">
              <div class="bg-dark bg-opacity-75 p-4 rounded-pill">
                <h2 class="fw-bold text-white">I Love Ice Cream 🍨</h2>
                <p class="text-light">Happiness served in a cone</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <a href="static/assets/2_picture.png" target="_blank">
              <img
                src="static/assets/2_picture.png"
                class="d-block w-100"
                ,
                height="700px"
                ,
                width="1000px"
                alt="ice_cream_2"
              />
            </a>
            <!-- TEXT OVER IMAGE -->
            <div class="carousel-caption d-none d-md-block">
              <div class="bg-dark bg-opacity-75 p-4 rounded-pill">
                <h2 class="fw-bold text-white">Pure Chocolate Bliss 🍫</h2>
                <p class="text-light">Scoop into happiness</p>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <a href="static/assets/3_picture.avif" target="_blank">
              <img
                src="static/assets/3_picture.avif"
                class="d-block w-100"
                ,
                height="700px"
                ,
                width="100px"
                ,
                target="_blank"
                alt="ice_cream_3"
              />
            </a>
            <!-- TEXT OVER IMAGE -->
            <div class="carousel-caption d-none d-md-block">
              <div class="bg-dark bg-opacity-75 p-4 rounded-pill">
                <h2 class="fw-bold text-white">Cold. Creamy. Perfect ❄️</h2>
                <p class="text-light">Every bite matters</p>
              </div>
            </div>
          </div>
        </div>
        <!-- CONTROLS -->
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon"></span>
        </button>

        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExample"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
    </div>

    <div class="container my-3">
      <h2 class="glossy-heading text-center">
        Select from the range of our Ice-Creams
      </h2>
      <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            <div class="col">
              <div class="card shadow-sm">
                <a href="static/assets/catalog_1.jpeg" target="_blank">
              <img
                src="static/assets/catalog_1.jpeg"
                class="d-block carousel-img"
                ,
                height="200px"
                ,
                width="400px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <span class="item-price">₹180</span>

                      <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <input type="hidden" name="name" value="{{ product.name }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <button type="submit" class="btn btn-success">
                          ADD
                        </button>
                      </form>
                    </div>
                    <small class="text-body-secondary">10 -mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <a href="static/assets/catalog_2.jpeg" target="_blank">
              <img
                src="static/assets/catalog_2.jpeg"
                class="d-block carousel-img"
                ,
                height="200px"
                ,
                width="400px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <span class="item-price">₹170</span>

                      <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <input type="hidden" name="name" value="{{ product.name }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <button type="submit" class="btn btn-success">
                          ADD
                        </button>
                      </form>
                    </div>
                    <small class="text-body-secondary">9 -mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <a href="static/assets/catalog_3.jpeg" target="_blank">
              <img
                src="static/assets/catalog_3.jpeg"
                class="d-block carousel-img"
                ,
                height="200px"
                ,
                width="400px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <span class="item-price">₹150</span>

                      <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <input type="hidden" name="name" value="{{ product.name }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <button type="submit" class="btn btn-success">
                          ADD
                        </button>
                      </form>
                    </div>
                    <small class="text-body-secondary">19 -mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <a href="static/assets/catalog_4.jpeg" target="_blank">
              <img
                src="static/assets/catalog_4.jpeg"
                class="d-block carousel-img"
                ,
                height="200px"
                ,
                width="400px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <span class="item-price">₹110</span>

                      <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <input type="hidden" name="name" value="{{ product.name }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <button type="submit" class="btn btn-success">
                          ADD
                        </button>
                      </form>
                    </div>
                    <small class="text-body-secondary">5 -mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <a href="static/assets/catalog_5.jpeg" target="_blank">
              <img
                src="static/assets/catalog_5.jpeg"
                class="d-block carousel-img"
                ,
                height="200px"
                ,
                width="400px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <span class="item-price">₹130</span>

                      <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <input type="hidden" name="name" value="{{ product.name }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <button type="submit" class="btn btn-success">
                          ADD
                        </button>
                      </form>
                    </div>
                    <small class="text-body-secondary">7 -mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <a href="static/assets/catalog_6.jpeg" target="_blank">
              <img
                src="static/assets/catalog_6.jpeg"
                class="d-block carousel-img"
                ,
                height="200px"
                ,
                width="400px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <span class="item-price">₹220</span>

                      <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <input type="hidden" name="name" value="{{ product.name }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <button type="submit" class="btn btn-success">
                          ADD
                        </button>
                      </form>
                    </div>
                    <small class="text-body-secondary">12 -mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <a href="static/assets/catalog_7.jpeg" target="_blank">
              <img
                src="static/assets/catalog_7.jpeg"
                class="d-block carousel-img"
                ,
                height="200px"
                ,
                width="400px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <span class="item-price">₹200</span>

                      <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <input type="hidden" name="name" value="{{ product.name }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <button type="submit" class="btn btn-success">
                          ADD
                        </button>
                      </form>
                    </div>
                    <small class="text-body-secondary">15 -mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <a href="static/assets/catalog_8.jpeg" target="_blank">
              <img
                src="static/assets/catalog_8.jpeg"
                class="d-block carousel-img"
                ,
                height="200px"
                ,
                width="400px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <span class="item-price">₹250</span>

                      <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <input type="hidden" name="name" value="{{ product.name }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <button type="submit" class="btn btn-success">
                          ADD
                        </button>
                      </form>
                    </div>
                    <small class="text-body-secondary">20 -mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow-sm">
                <a href="static/assets/catalog_9.jpeg" target="_blank">
              <img
                src="static/assets/catalog_9.jpeg"
                class="d-block carousel-img"
                ,
                height="200px"
                ,
                width="400px"
                ,
                justify-content="cover"
                alt="ice_cream_1"
              />
            </a>
                <div class="card-body">
                  <p class="card-text">
                    This is a wider card with supporting text below as a natural
                    lead-in to additional content. This content is a little bit
                    longer.
                  </p>
                  <div
                    class="d-flex justify-content-between align-items-center"
                  >
                    <div class="d-flex align-items-center gap-2">
                      <span class="item-price">₹200</span>

                      <form method="post" action="{% url 'add_to_cart' %}">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ product.id }}">
                        <input type="hidden" name="name" value="{{ product.name }}">
                        <input type="hidden" name="price" value="{{ product.price }}">
                        <button type="submit" class="btn btn-success">
                          ADD
                        </button>
                      </form>
                    </div>
                    <small class="text-body-secondary">11 -mins</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endblock body %}
  </div>
</div>
